.git
node_modules
vendor
.env
.env.*
/.vscode
/.idea
storage/debugbar
public/hot
public/storage
*.log
*.cache
.DS_Store
dist
tmp
bootstrap/cache/*.php
!docker/instantclient/
!docker/instantclient/*.zip
