name: Build and publish Docker

on:
  push:
    branches:
      - main
      - qa
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    env:
      IMAGE_REGISTRY: ${{ secrets.OCIR_REGION }}.ocir.io
      OCIR_TENANCY: ${{ secrets.OCIR_TENANCY }}
      OCIR_REPOSITORY: ${{ secrets.OCIR_REPOSITORY }}
      IMAGE_NAME: ${{ env.IMAGE_REGISTRY }}/${{ env.OCIR_TENANCY }}/${{ env.OCIR_REPOSITORY }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to OCIR
        uses: docker/login-action@v2
        with:
          registry: ${{ env.IMAGE_REGISTRY }}
          username: ${{ secrets.OCIR_USERNAME }}
          password: ${{ secrets.OCIR_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ${{ env.IMAGE_NAME }}:latest
            ${{ env.IMAGE_NAME }}:${{ github.sha }}

      - name: Image info
        run: echo "Pushed image: $IMAGE_NAME:latest"
